.wrapper {
    background-color: #f5f5f5;
}

.viewer {
    width: 75%;
    height: 70vh;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
}

.sidebar-selector {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    padding-top: 0px;
}

.sidebar-list {
    justify-content: flex-start;
    flex: 1 1 1px;
    max-width: 35rem;
    overflow: auto;
}

.sidebar-list-item {
    background-color: var(--bs-gray-800);
    position: relative;
    display: block;
    padding: .5rem 1rem;
    color: #212529;
    text-decoration: none;
    border: 1px solid rgba(0,0,0,.125);
}

.sidebar-list-item-active {
    pointer-events: none;
    background-color: var(--bs-gray-900);
}

.sidebar-list-item:hover {
    background-color: var(--bs-gray-700);
}

.sidebar-upload-button {
    align-self: flex-end;
    margin-top: 10px;
    width: 100%;
}

.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-height: 100vh;
    min-height: 100vh;
    white-space: nowrap;
}

.sidebar-wrapper .sidebar-heading {
    text-align: center;
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

.navbar-text {
    margin-right: 0.875rem;
    padding: 0;
}

.page-wrapper {
    min-width: 0;
    width: 100%;
}